<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post blog</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Rowdies:wght@300;400;700&family=Tac+One&display=swap"
      rel="stylesheet"
    />
</head>
<body>
  <div class="posting">
     <form action="/post" method="post">
        <input
          style="display: block; margin: 5px"
          type="text"
          name="blogTitle"
          id="blogTitle"
          placeholder="blogTitle"
        />
        <textarea
          style="display: block; margin: 5px"
          type="text"
          name="blog"
          id="blog"
          placeholder="blog"
        ></textarea>
        <input type="submit" value="post" style="display: block; margin: 5px" />
      </form>
  </div>
   
</body>
</html>